.main--chat
  .header
    .header__left--blok
      .header__left--blok__group-name
        example-group-name
      .header__left--blok__group-member
        example-member
    %a.header__edit-btn{href: '#'} edit

  .message-list
    .message-list__header
      .message-list__header__user-name name
      .message-list__header__date 2020-6-16
    .message-list__message hello!

  .message-form
    %from.new-message
      .new-message__input
      %input{type: "text", class: "new-message__text", placeholder: "type a message"}
      %label{class: "new-message__image"}
        = icon('fas','image')
        %input{type: "file", class: "new-message__image__file"}
    %input{type: "submit", value: "send", class: "submit-btn"}
