.messages{data: {message: {id: message.id}}}
  .message-list__header
    .message-list__header__user-name
      = message.user.name
    .message-list__header__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-list__message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    