.side-bar
  .side-bar__user-name
    .side-bar-box
      .side-bar-box__user-name
        user-name
      .icon
        .edit__btn--icon
        = link_to "#", class: "edit__btn" do
          = icon('far', 'edit', class: "edit__btn--icon")
        .new__btn--icon
        = link_to "#", class: "new__btn" do
          = icon('fas', 'cog', class: "new__btn--icon")
  .side-bar__group-list
    .groups
      .groups__group-list
        グループリスト
      .groups__group-message
        メッセージトップ
    .groups
      .groups__group-list
        グループリスト
      .groups__group-message
        メッセージトップ
    .groups
      .groups__group-list
        グループリスト
      .groups__group-message
        メッセージトップ
    